__pycache__/
dags/__pycache__/
.vscode/
logs
venv/
dags/data/processed/
data/
__pycache__/
/*__pycache__
dags/__pycache__/
src/__pycache__
dags/src/__pycache__/
.vscode/
docker-compose.yaml
venv/
*.cfg
logs/*
#logs/*
*.cpython
*.pyc
dags/__pycache__/airflow.cpython-39.pyc
__pycache__/
dags/src/__pycache__/__init__.cpython-39.pyc
dags/src/__pycache__/column_drop.cpython-39.pyc
dags/src/__pycache__/credit_year.cpython-39.pyc
dags/src/__pycache__/dataload.cpython-39.pyc
dags/src/__pycache__/dummies.cpython-39.pyc
dags/src/__pycache__/missing_values.cpython-39.pyc
dags/src/__pycache__/null_drop.cpython-39.pyc
dags/src/__pycache__/outlier_handle.cpython-39.pyc
dags/src/__pycache__/term_map.cpython-39.pyc
dags/src/__pycache__/zipcode_extract.cpython-39.pyc
dags/src/mlruns
*.Identifier
.vscode
*.pkl
*.parquet
dags/data/processed/
*.pkl
*.parquet
src/logs/*log
/data.xml