aiohttp==3.9.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.1
amqp==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.2.0
apache-airflow==2.8.1
apache-airflow-providers-common-io==1.2.0
apache-airflow-providers-common-sql==1.10.1
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-http==4.9.0
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-sqlite==3.7.0
apispec==6.4.0
appdirs==1.4.4
argcomplete==3.2.2
asgiref==3.7.2
async-timeout==4.0.3
asyncssh==2.14.2
atpublic==4.0
attrs==23.2.0
Babel==2.14.0
backoff==2.2.1
billiard==4.2.0
blinker==1.4
cachelib==0.9.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
clickclick==20.10.2
colorama==0.4.6
colorlog==4.8.0
configobj==5.0.8
ConfigUpdater==3.2
connexion==2.14.2
cron-descriptor==1.4.3
croniter==2.0.1
cryptography==42.0.5
dbus-python==1.2.18
Deprecated==1.2.14
dictdiffer==0.9.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.5.0
docutils==0.20.1
dpath==2.1.6
dulwich==0.21.7
dvc==3.48.0
dvc-data==3.13.0
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.1
dvc-studio-client==0.20.0
dvc-task==0.3.0
email-validator==1.3.1
entrypoints==0.4
exceptiongroup==1.2.0
filelock==3.13.1
Flask==2.2.5
Flask-AppBuilder==4.3.10
Flask-Babel==2.0.0
Flask-Caching==2.1.0
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.5.1
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
flatten-dict==0.4.2
flufl.lock==7.1.1
frozenlist==1.4.1
fsspec==2024.2.0
funcy==2.0
gitdb==4.0.11
GitPython==3.1.42
google-re2==1.1
googleapis-common-protos==1.62.0
grandalf==0.8
greenlet==3.0.3
grpcio==1.60.1
gto==1.7.0
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.3
httplib2==0.20.2
httpx==0.26.0
hydra-core==1.3.2
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
inflection==0.5.1
iterative-telemetry==0.0.8
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keyring==23.5.0
kombu==5.3.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.10.0
limits==3.8.0
linkify-it-py==2.0.3
lockfile==0.12.2
Mako==1.3.2
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.2
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.26.1
mdit-py-plugins==0.4.0
mdurl==0.1.2
more-itertools==8.10.0
multidict==6.0.5
netifaces==0.11.0
networkx==3.2.1
numpy==1.26.4
oauthlib==3.2.0
omegaconf==2.3.0
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
ordered-set==4.1.0
orjson==3.9.15
packaging==23.2
pandas==2.2.1
pathspec==0.12.1
pendulum==3.0.0
platformdirs==3.11.0
pluggy==1.4.0
prison==0.2.1
prompt-toolkit==3.0.43
protobuf==4.25.2
psutil==5.9.8
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydot==2.0.0
pygit2==1.14.1
Pygments==2.17.2
PyGObject==3.42.1
pygtrie==2.5.0
PyJWT==2.3.0
pyparsing==3.1.1
python-apt==2.4.0+ubuntu3
python-daemon==3.0.1
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==8.0.4
pytz==2024.1
PyYAML==5.4.1
referencing==0.33.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.7.0
rich-argparse==1.4.0
rpds-py==0.18.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.4.1.post1
scipy==1.12.0
scmrepo==3.2.0
SecretStorage==3.3.1
semver==3.0.2
setproctitle==1.3.3
shortuuid==1.0.12
shtab==1.7.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
SQLAlchemy==1.4.51
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
sqltrie==0.11.0
systemd-python==234
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
text-unidecode==1.3
threadpoolctl==3.3.0
time-machine==2.13.0
tomlkit==0.12.4
tqdm==4.66.2
typer==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
ubuntu-advantage-tools==8001
uc-micro-py==1.0.3
ufw==0.36.1
unicodecsv==0.14.1
universal_pathlib==0.2.0
urllib3==2.2.0
vine==5.1.0
virtualenv==20.25.1
voluptuous==0.14.2
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==2.2.3
wrapt==1.16.0
WTForms==3.1.2
yarl==1.9.4
zc.lockfile==3.0.post1
zipp==3.17.0
